/*      title section      */
h1 {
    font-family: "Jost-Light";
    font-size: 3rem;
}

.color {
    background-color: #FFE793;
    padding-bottom: 2rem;
}

/*     Sketches section     */
.grid-sketches {
    display: grid;
    padding: 2rem;
    grid-row-gap:1rem;
    grid-column-gap: 8rem;

    margin-top: 2rem;
    margin-left: 4vw;

    align-items:center;
}

.sketches-content hr {
    max-width: 5rem;
    margin-top: -1.5rem;
    margin-bottom: 2rem;
    margin-left: 0rem;
}

.sketches-content p {
    max-width: 27rem;
}

@media (min-width:20rem) {
    .photos img {
        max-width:100%;
        height: auto;
    }
}

@media (min-width:50rem) {
    .grid-sketches {
        grid-template-columns: 1fr 0.8fr;
    }
    #img-2 {
        margin-left: 15vw;
    }
    .photos img {
        max-width: 60%;
        height: auto;
        margin-top: 1rem;
    }
}


/*      wireframe section     */
.wireframes {
    margin-top: 5rem;
    margin-bottom: 4rem;
    padding-top: 3rem;
    padding-bottom: 4rem;
    background-color: #FFE793;
}

.wireframes h2, .wireframes p {
    text-align: center;
}

.wireframes hr {
    max-width: 5rem;
    margin-top: -1.5rem;
    margin-bottom: 2rem;
}

/* 2 column */
@media (min-width:29.375rem) {
    .two-column-grid {
        grid-template-columns: 1fr;
        max-width: 30rem;
        margin: 0 auto;
    }
    .three-column-grid {
      grid-template-columns: 1fr;
      max-width: 30rem;
      margin: 0 auto;
    }
  }

@media (min-width: 37.813rem) {
    .two-column-grid {
      grid-template-columns: 1fr 1fr;
      max-width: 35rem;
      margin: 0 auto;
    }
    .three-column-grid {
        grid-template-columns: 1fr 1fr;
        max-width: 35rem;
        margin: 0 auto;
      }
}

/* 3 column */
@media (min-width:62.5rem) {
    .three-column-grid {
      grid-template-columns: 1fr 1fr 1fr;
      max-width: 55rem;
      margin: 0 auto;
    }
}

/* p */
@media (min-width:20rem) {
    .wireframes p {
        margin-left: 13%;
        margin-right: 13%;
    }
}

@media (min-width:32.375rem) {
    .wireframes p {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media (min-width:49.875rem) {
    .wireframes p {
        margin-left: 30%;
        margin-right: 30%;
    }
}

/*      final      */ 
.final h2 {
    text-align: center;
}

.final hr {
    max-width: 5rem;
    margin-top: -1.5rem;
    margin-bottom: 2rem;
}

.video {
    display: flex;
    align-items: center;
    justify-content: center;
}

video {
    min-width: 15rem;
    padding:1rem;
}

.prototype-sub-titles {
    padding-top: 4rem;
    font-family: "Jost-Medium";
    font-size: 1.5rem;
  }