/*      title section      */
h1 {
    font-family: "H1";
    font-size: 6rem;
    text-align: center;
    padding: 2rem;
}
@media (min-width: 20rem) {
    h1{
    font-size: 3rem;
    }
  }
@media (min-width: 37.875rem) {
    h1 { 
      font-size: 6rem;
    }
  }

.color {
    background-color: #A4798D;
    padding-bottom: 6rem;
    padding-top: 2rem;
}

.color h1 {
    color: black;
}

.color p {
    color: black;
}

.description {
    margin-top: -2rem;
    font-family: "Jost-Medium";
    text-align: center;
    margin-bottom: 2rem;
}

@media (min-width: 20rem) {
    .description {
        margin-left: 10vw;
        margin-right: 10vw;
    }
  }

@media (min-width: 47.688rem) {
    .description {
        margin-left: 30vw;
        margin-right: 30vw;
    }
}

.skills {
    display:grid;
    text-align: center;
    grid-row-gap:1rem;
    grid-column-gap: 1rem;
    align-items: center;
    justify-content: center;
}

@media(min-width:40.938rem){
    .skills{
        grid-template-columns: 1fr 1fr;
        max-width: 30rem;
        margin: 0 auto;
    }
}
@media(min-width:53.563rem){
    .skills{
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 50rem;
        margin: 0 auto;
    }
}

/* script section */
.ideation-sec {
    background-color: white;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

#ideation-title {
    margin-left: 5vw;
}

.grid-ideation {
    display: grid;
    grid-row-gap:5rem;
    grid-column-gap: 10rem;
    margin-right: 2rem;
}

.grid-ideation img {
    border: 0.1rem solid #A4798D;
}

@media (min-width: 20rem) {
    .grid-ideation {
        margin-top: 4rem;
        margin-left: 6vw;
    }

    .grid-ideation p {
        max-width: 27rem;
    }

    .grid-ideation img {
        max-width: 100%;
        height: auto;
    }
}

@media (min-width: 50rem) {
    .grid-ideation {
        grid-template-columns: 0.5fr 1fr;
        margin-top: 5rem;
        margin-left: 10vw;
    }

    .grid-ideation img {
        max-width: 90%;
        height: auto;
    }
}


/* wireframes */
.prototype {
    background-color: #A4798D;
}

.prototype h3{
    text-align: center;
}

.prototype img {
    width: 90%;
    height: auto;
}


/* 4 column */
.four-column-grid {
    display: grid;
    grid-row-gap: 1rem;
    grid-column-gap: 1rem;
    justify-items: center;
    align-items: center;
  }
  
  @media (min-width:38.438rem) {
    .four-column-grid {
      grid-template-columns: 1fr 1fr;
      margin: 0 auto;
      max-width: 90%;
    }
  }
  
  @media (min-width:51.875rem) {
    .four-column-grid {
      grid-template-columns: 1fr 1fr 1fr;
      margin: 0 auto;
      max-width: 100%;
    }
  }
  
  @media (min-width:66.25rem) {
    .four-column-grid {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      margin: 0 auto;
      max-width: 80%;
    }
  }

/* video */
.final {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

.final h3 {
    text-align: center;
}

.video-grid {
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 0 auto;
    width: 100%;
}

@media (min-width: 20rem) {
    .video-grid {
        grid-template-columns: 1fr;
        gap: 1rem;
        max-width: 80%;
        margin: 0 auto;
    }
}

@media (min-width: 76.813rem) {
    .video-grid {
        grid-template-columns: 1fr;
        gap: 1rem;
        max-width: 60rem;
    }
}

video {
    margin: 0 auto;
    margin-top: 2rem;
    width: 100%; 
    height: auto;
    max-width: 60rem;
}

#view-story {
    text-align: center;
}